.table-striped {
    box-shadow: 0 0 20px rgba(173, 181, 189, 0.1);
    background-color: #f4f6f900;
}

.height-50 {
    height: 50px !important;
}

.required {
    color: red;
}

.image-preview {
    width: 150px;
    height: 150px;
    cursor: pointer !important;
    label {
        background-color: #24486a;
    }
}

th {
    color: white !important;
}

thead {
    background: #24486a !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.text-muted {
    color: #24486a !important;
}
