.table-striped {
    box-shadow: 0 0 20px rgba(173, 181, 189, 0.1);
    background-color: #f4f6f900;
}

.height-50 {
    height: 50px !important;
}

.required {
    color: red;
}

.image-preview {
    width: 150px;
    height: 150px;
    cursor: pointer !important;
    background-size: cover;
    background-position: center center;
    label {
        background-color: #24486a;
    }
}

th {
    color: white !important;
}

thead {
    background: #24486a !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.text-muted {
    color: #24486a !important;
}

.tbl-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #24486a !important;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #24486a !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 40px;
}
.modal-footer {
    display: unset !important;
}

.navbar-bg {
    height: 60px !important;
    background-color: white !important;
}

.main-content {
    padding-top: 100px !important;
}

body {
    background-color: #eff3f9 !important;
    font-size: 0.88rem !important;
}

.navbar .nav-link {
    color: "#234666" !important;
}

.sidebar-brand {
    border-bottom: 0.05rem solid #eff3f9;
}

.card {
    border-radius: 0.63rem !important;
}

.form-label {
    // font-weight: 500px;
}
